@using EntityLayer.Concrete
@model WriterMessage
@{
    ViewData["Title"] = "SenderMessageDetails";
    Layout = "~/Views/Shared/_NewAdminLayout.cshtml";
}

<h1>Giden Mesaj Detayları</h1>
<div class="container">
    <form class="form-group">

        <br />
        <label>Alıcı Adı</label>
        @Html.TextBoxFor(x => x.SenderName, new { @class = "form-control" })

        <br />
        <label>Alıcı Mail</label>
        @Html.TextBoxFor(x => x.Sender, new { @class = "form-control" })

        <br />
        <label>Tarih</label>
        @Html.TextBox("Date", Model.Date.ToShortDateString(), new { @class = "form-control" })

        <br />
        <label>İçerik</label>
        @Html.TextAreaFor(x => x.MessageContent, 6, 3, new { @class = "form-control" })
        <br />
        <a class="btn btn-primary" href="/AdminMessage/SenderMessageList/">Geri Dön</a>
    </form>
</div>


