
@{
    ViewData["Title"] = "CreateSkill";
    Layout = "~/Views/Shared/_NewAdminLayout.cshtml";
}


<div class="container mt-4">
    <form class="form-group" method="post">
            @Html.Label("Yetenek Başlığı")
            <input type="text" name="Title" class="form-control" />
            <br />
            @Html.Label("Değer")
            <input type="text" name="Value" class="form-control" />
            <br />
        <button class="btn btn-primary">Ekle</button>
    </form>
</div>

